<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="/static/plugins/tailwind.js"></script>
    <script defer type="module" src="/static/index.js"></script>
  </head>
  <body>
    <div id="container">
      <img id="image" src="/assets/go_index.png" alt="go index image">
      <p id="message">Welcome to GUTS</p>
      <p id="floro">
        Render easily from the
        <span id="floro-f">frontend</span>
        and
        <span id="floro-b">backend</span>
      </p>
      <p id="client">{{ .randonName }}</p>
      <p id="server">{{ .catsay }}</p>
    </div>
  </body>
</html>
